<p>
  Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} -
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>

-
<a href="http://blog.tinyxd.me/sitemap.xml">Google Sitemap</a>
|
<script src="http://s16.cnzz.com/stat.php?id=4219959&web_id=4219959" language="JavaScript"></script>
 | 
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F32edae80dd5a2384d73068e006acfa87' type='text/javascript'%3E%3C/script%3E"));
</script>

|
<a href="http://www.prchecker.info/" title="Check Google Page Rank" target="_blank">
<img src="http://pr.prchecker.info/getpr.php?codex=aHR0cDovL2Jsb2cudGlueXhkLm1lLw==&tag=3" alt="Check Google Page Rank" style="border:0;" /></a>


</p>