<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

<!-- Add jQuery library -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<!-- Add fancyBox -->
<link rel="stylesheet" href="{{ root_url }}/stylesheets/jquery.fancybox.css?v=2.0.6" type="text/css" media="screen" />
<script type="text/javascript" src="{{ root_url }}/javascripts/jquery.fancybox.pack.js?v=2.0.6"></script>
<!-- Add fancyBox jQuery -->
<script type="text/javascript">
  jQuery.noConflict();    // prevents conflicts with Ender.js, use jQuery instead of $
  jQuery(document).ready(function() {
      jQuery(".fancybox").fancybox();
  });
</script>
<!-- End fancyBox insert -->



