<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Home</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
  <li><a href="{{ root_url }}/blog/categories/essay">Essay</a></li>
  <li><a href="{{ root_url }}/tags">Tag Cloud</a></li>
  <li><a href="{{ root_url }}/reading-list">Reading List</a></li>
  <li><a href="http://photo.tinyxd.me/">Photo</a></li>
  <li><a href="{{ root_url }}/links">Links</a></li>
  <li><a href="{{ root_url }}/about">About Me</a></li>
  <li><a href="{{ root_url }}/message-board">Message Board</a></li>
</ul>
